{% extends "base.html" %}
{% block head %}
	{{ super() }}
	<title>Trello RSS Feed Generator</title>

<script language="javascript" type="text/javascript">
<!--
function popitup(url) {
	newwindow=window.open(url,'name','height=600,width=600');
	if (window.focus) {newwindow.focus()}
	return false;
}

// -->
</script>

{% endblock %}

{% block content %}

	{% if auth_url %}
		<br>
		<h4><a href="{{auth_url}}" onclick="return popitup('{{auth_url}}')">Click here to authorize Trello RSS to view your Trello boards.</a></h4>
		<p>A popup will ask you to authorize this app, and then provide you with a token. Please copy and paste that token here:</p>

		<form method="post">
			<input type="text" name="token">
			<input type="submit" value="Enter Token">
		</form>
		<br>
		<p>(Setting it up so that you don't have to copy and paste the token is on my to-do list.)</p>

		<p><strong>A note on privacy:</strong> The token will give permission for this app to read your Trello boards for 30 days (or until you revoke its access). All it does is query the API for new actions on your boards every 30 minutes, and create an RSS feed for it. No data from your boards is stored permanently -- it's all stored in memcache, and it's cleared every 30 minutes so that new updates can be cached.</p>
		<p>This app won't do anything evil with your data, but please not that once you've put up a feed, that feed is publicly accessible to anyone with the url! Thus, if you have any boards with potentially confidential info, I recommend agains creating an RSS feed for it here.</p>
		<p>Or if you prefer, you can even grab the <a href="https://github.com/naiyt/trellorss-gae">source</a> for this app, and host it on your own Google App Engine instance.</p>

	{% else %}
	<form method="post">
		<table>
			{% if user_boards %}
				<h2>Choose what board to make a feed from</h2>
				<hr>
				<tr><td><label><input type="radio" name="board" value="all" checked> All Boards</label></td></tr>
				{% for board in user_boards %}
					<tr><td><label><input type="radio" name="board" value="{{board}}">				
						{{user_boards[board]}}
					</label></td></tr>
				{% endfor %}
			<tr><td></td></tr>
			<tr><th>Now, enter your channel details</th></tr>
			<tr>
			<td>Chanel Title</td><td><input type="text" name="title" value="{{title}}" maxlength="150" 	required></td>
			</tr>
	
			<tr><td>Channel Link</td><td><input type="text" name="link" value="{{link}}" maxlength="150" required>
				{% if 'link' in errors %}<span class="error">Enter a valid URL</apn>{% endif %}</td>
			</tr>
	
			<tr><td>Channel Description<td><textarea name="description" rows="4" cols="50">{{description}}</textarea></td>
			</tr>

			<tr>
				<td>What actions would you like to follow?{% if check_error %}<br><span class="error">Please check at least one.</span>{% endif %}</td>
				<td>
					<ul>
						<label><input type="checkbox" name="comments"> Comments</label><br>
						<label><input type="checkbox" name="cards"> Created Cards</label><br>
						<label><input type="checkbox" name="boards"> Created Boards</label><br>
						<label><input type="checkbox" name="lists"> Created Lists</label><br>
						<label><input type="checkbox" name="checklists"> Checklists</label>
					</ul>
				</td>

			{% else %}
				<p>I couldn't find any boards on your Trello account...</p>

			{% endif %}

			</table>
			<input type="submit" value="Create my feed!">
		</form>

	{% endif %}
	
	
{% endblock content %}
