{% extends "base.html" %}
{% block head %}
	{{ super() }}
	<title>Trello RSS Feed Generator</title>

{% endblock %}

{% block content %}

	<h2>Create an RSS feed for your Trello boards</h2>
	<hr>
		<a class="btn btn-lg btn-primary" href="/privatefeeds">Create a feed for my private boards</a>
		<a class="btn btn-lg btn-primary" href="/publicfeeds">Create a feed for a public board</a>
	<br>
	<h3>My Feeds</h3>
	{% if feeds %}

		<form method="post" class="form-inline">
			<div class="form-group">
				<table class="table table-hover">
			{% for feed in feeds %}
				<tr><td class="check"><input type="checkbox" name="{{feed.key.id()}}" id="check_{{feed.key.id()}}"></td>
					<td><label for="check_{{feed.key.id()}}"><a href="/feed/{{feed.key.id()}}">{{feed.channel_title}}</a></label></td>
				</tr>
			{% endfor %}
				</table>
				
				<button class="btn btn-default" type="submit" name="delete" value="delete">Delete Selected</button>
				<button class="btn btn-default" type="submit" name="modify" value="delete">Modify Selected</button>
			</div>
		</form>
	{% else %}
		<p>You don't have any feeds setup yet.</p>
	{% endif %}	

{% endblock content %}