{% extends "base.html" %}
{% block head %}
	{{ super() }}
	<title>Trello RSS Feed Generator</title>

{% endblock %}

{% block content %}

	<h2 class="center">Create an RSS feed for your Trello boards, or any public boards</h2>
	<br>
	<div class="center">
		<a id="enter" class="blue" href="/privatefeeds">Create a feed for my private boards</a></li>
		<a id="enter" class="blue" href="/publicfeeds">Create a feed for a public board</a>
	</div>
	<br><br>
	<hr>
	<h3 class="center">My Feeds</h3>
	{% if feeds %}
		<form method="post">
			<table>
		{% for feed in feeds %}
			<tr><td><input type="checkbox" name="{{feed.key.id()}}"></td>
				<td><a href="/feed/{{feed.key.id()}}">{{feed.channel_title}}</a></td>
			</tr>
		{% endfor %}
			</table>
			<input type="submit" name="delete" value="Delete Selected">
			<input type="submit" name="modify" value="Modify Selected">
		</form>
	{% else %}
		<p>You don't have any feeds setup yet.</p>
	{% endif %}	

{% endblock content %}